[Unit]
Description=Raid Notifier
After=graphical.target

[Service]
Type=simple
ExecStart=/usr/bin/raid-notifier

[Install]
WantedBy=multi-user.target
